 #app-footer {
   font-family: 'Source Sans Pro', sans-serif;
   font-weight: 300;
   background-color: lightblue;
   color: #F0F2EF;
 }


 #piesek {
   width: 35px;
   height: 35px;
   top: -10px;
   margin: 0 auto;
   position: relative;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   -ms-transition: all 1s ease;
   transition: all 1s ease;
 }

 #piesek:hover {
   width: 35px;
   height: 35px;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   -ms-transition: all 1s ease;
   transition: all 1s ease;
   position: relative;
 }

 .footer {
   bottom: 0;
   left: 0;
   position: fixed;
   width: 100%;
   height: 7.2em;
   overflow: hidden;
   margin: 0 auto;
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   -ms-transition: all 1s ease;
   transition: all 1s ease;
   z-index: 999;
 }

 .footer:hover {
   -webkit-transition: all 1s ease;
   -moz-transition: all 1s ease;
   -o-transition: all 1s ease;
   -ms-transition: all 1s ease;
   transition: all 1s ease;
   height: 14em;
 }

 .footer #container {
   margin-top: 5px;
   width: 100%;
   height: 100%;
   position: relative;
   top: 22px;
   left: 0;
   background: #63666A;
   border-top: #afd5aa solid 5px;
 }


 .footer_center {
   width: 100vw;
   display: inline-block;
   text-align: center;
 }

 .footer h3 {
   font-family: 'Helvetica';
   font-size: 20px;
   font-weight: 100;
   margin-top: 5px;

 }

 .menu {
   width: 80%;
   display: inline-block;
 }

 .logo {
   width: 20%;
   display: inline-block;
 }

 .content {
   margin-top: 10px;
 }